@charset "UTF-8";
*{
	padding: 0;
	margin:0;
	list-style-type: none;
}
.wrapper{
	border: 1px solid rgba(7,17,27,0.2);
	box-shadow: -1px 0px 10px #333333;
	width:380px;
	margin:100px auto;
}
.play-wrapper{
	display: flex;
	position: relative;
	width:380px;
	border-bottom: 1px solid rgba(7,17,27,0.2);
}
.play-wrapper img{
	flex: 0 0 100px;
	width:100px;
	height: 100px;
}
.blur {	
    filter: blur(5px);
}
.play-wrapper .detail{
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 10px;
	flex:1;
}
.play-wrapper .detail .info{
	cursor: default;
	margin-bottom: 10px;
}
.play-wrapper .detail .info .name{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color:#6A6B6F;
}
.play-wrapper .detail .info .singer{
	line-height: 1.2;
	font-size: 15px;
	color:#666;
}
.play-wrapper .controls .ply-btn{
	position: absolute;
	top:50%;
	left:-30px;
	transform: translate(0,-50%);
	width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	color:#fff;
	background-color: #D94240;
	cursor: pointer;
	border:none;
	-moz-box-shadow:-1px 0px 10px #333333; 
	-webkit-box-shadow:-1px 0px 10px #333333; 
	box-shadow:-1px 0px 10px #333333;

}
button:focus{
	outline: 0;
}
.play-wrapper .controls div{
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
}
.play-wrapper .controls .progressBar{
	width:250px;
	height:6px;
	background-color: rgba(231,231,239,.8);
	border-radius: 10px;
	margin-bottom: 5px;
}
.play-wrapper .controls .progressBar .progress{
	display: block;
	width:0;
	height: 6px;
	background-color: #D94240;
	border-radius: 4px;
}
.play-wrapper .controls .time{
	color:#666;
	font-size: 15px;
}
.play-wrapper .controls .noVol{
	vertical-align: middle;
	cursor: pointer;
	border: none;
	width:14px;
	height: 14px;
	background-color: #fff;
	color: #6A6B6F;
}
.play-wrapper .controls .vol{
	vertical-align: middle;
	width:120px;
	height:14px;
	background-color:  rgba(231,231,239,.8);
	border-radius: 4px;
}
.play-wrapper .controls .vol .nowVol{
	display: block;
	width:50%;
	height: 14px;
	background-color: #D94240;
	border-radius: 4px;
}
.play-wrapper .controls .menu{
	margin-left: 10px;
	width:15px;
	height: 15px;
	font-size: 15px;
	border:none;
	color:#6A6B6F;
	background-color: #fff;
	cursor: pointer;
}
.wrapper .mode{
	display: flex;
}
.wrapper .mode span{
	flex:1;
	box-sizing: border-box;
	color:#6A6B6F;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.wrapper .mode span:hover{
	color:#D94240;
	border: 1px solid rgba(7,17,27,0.2);
}
.list ul{
	width:380px;
	overflow: hidden;
}
.list ul li{
	height: 30px;
	border-top: 1px solid rgba(7,17,27,0.2);
	padding:0 20px;
	position: relative;
	cursor: pointer;
	color:#6A6B6F;
}
.list ul li:hover{
	background-color: rgba(255,0,0,0.7);
	color:white;
}
.list ul li.active{
	position: relative;
	background-color: #D94240;
	color:white;
}
.list ul li.active:before{
	position: absolute;
	left: 0;
	top:50%;
	transform: translate(0,-50%);
	display: block;
	content:"";
	background-color: #D94240;
	height:22px;
	width: 3px;
}
.list ul li span{
	line-height: 30px;
	font-size: 12px;
}
.list ul li span.no{
	margin-right: 10px;
}
.list ul li span.songSinger{
	position: absolute;
	right: 10px;
	margin-right: 0;
	display: inline-block;
	text-align: right;
}
